body{
font-family: 'Josefin Slab', serif;
}

.header{
	padding: 80px;
	text-align: center;
	color: #071342;
	font-family: 'Josefin Slab', serif;
}

.header h1 a{
	font-size: 50px;
	text-decoration: none;
	color: #071342;

}

.header h1 a:hover{
	opacity: .6;
	color: #95C0EC;
}
	

.navbar{
	overflow: hidden;
}
.navbar a{
	float: left;
	display: block;
	text-align: center;
	padding: 14px 20px;
	text-decoration: none;
	color: #0c4561;
	font-size: 20px
}

.navbar a.right{
	float: right;
}

.navbar a:hover{
	color: #95C0EC;
}

